@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  font: 16px / 1 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(249, 249, 230);
}

header {
  display: flex;
  //QUESTION: Any way to have header and second header both remain sticky?
  // position: sticky;
  // top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(139, 185, 126);
  padding: 0.4rem;
  color: white;
  box-shadow: 0 1px 3px rgb(167, 81, 6);
  margin-bottom: 1px;
}

.bigger {
  font-size: 2.6rem;
}

a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  border-bottom: solid 1px rgb(167, 81, 6);
  margin-bottom: -6px;
  margin-top: 4px;
  align-items: center;
}

.price {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

// QUESTION: How to align price header and price
.price p {
  padding: 0.5rem;
  margin-left: 36px;
  align-items: flex-start;
}

.price-header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.price-header p {
  padding: 0.5rem;
  margin-left: 9px;
}

.header {
  background-color: rgb(240, 181, 85);
  color: white;
  font: 18px / 1 'Open Sans', sans-serif;
  font-weight: 600;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  border-bottom: solid 1px black;
  align-items: center;
}
